# Settings
.classpath
.project
.settings
.idea
docker-assembly/.settings

# Submodules

# Files
docker-assembly/downloads

# Artifacts
keycloak-*.tar.gz
mysql-connector-java-*.jar

# Targets
docker-assembly/target
target